{% extends 'front/layout.html.twig' %}

{% block content %}

<h1>Les alertes Découvertes</h1>

<div class="container">

    {% for animal in animals %}

    <div class="animals">

        <p>{{ animal.name }}</p>
        <p ><img class="imgAnimal" src="{{ vich_uploader_asset(animal.image, 'file') }}" alt="{{ animal.name }}" /></p>        
        <p>{{ animal.city }}</p>
        <p>{{ animal.date ? animal.date|date('d/m/Y') : '' }}</p>
        <p><a href="{{ path('showTrouve', {'id': animal.id}) }}">Voir</a>
    
    </div>

    {% endfor %}

</div>
{% endblock %}